.search-modal.expand {
    max-height: 18vh;
    border-bottom: lightgray solid 1px;
    border-top: lightgray solid 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    margin-top: -1px;
}


.search-modal {
    // height: 100% is not transitionable, used max-height instead
    max-height: 0;  // instead of opacity: 0. 
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    position: relative;
    left: calc(-50vw + 50%);  // get element at center (50%) then pull it to full width (-50vw)
    width: 100vw;
    .input-wrapper {
        max-width: 40%;
		min-width: 300px;
		margin: 25px auto;
        input {
            border: 1px solid lightgray;
            border-radius: 3px;
            box-shadow: inset 3px 3px 6px lightgray;
        }
        button{
            border: 1px solid lightgray;
            margin-left: 9px;
            border-radius: 3px;
            background-color: #fff;
            color: grey;
        }
    }

    .close {
        position: absolute;
        right:5px;
        top: 5px; 
        background-color: $light-gray;
        border-radius: 50%; 
        padding: 3px 6px; 
        transition: background-color 0.5s;
    }

    .close:hover {
        background: $gray;
    }
}

/*
    Background Overlay
*/

.main-content {
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    bottom: 0;
    width: 100vw;
    left: calc(50% - 50vw);
}